{
  "sdk_version": "1.1.4453",
  "executable": "Main.loom",
  "display": {
    "width": 1920,
    "height": 1080,
    "title": "HackForCause",
    "stats": false,
    "orientation": "portrait"
  },
  "app_id": "co.theengine.HackForCause.WayFinder",
  "app_name": "EUG Wayfinding",
  "app_version": "1.0.1",
  "app_version_code": "1"
}