{
  "sdk_version": "1.1.4432",
  "executable": "Main.loom",
  "display": {
    "width": 1024,
    "height": 768,
    "title": "HackForCause",
    "stats": true,
    "orientation": "portrait"
  },
  "app_id": "co.theengine.demos.HackForCause",
  "app_name": "HackForCause",
  "app_version": "1.0.0",
  "app_version_code": "1"
}